## 데이터 프레임 생성

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
total = pd.read_csv('/content/drive/MyDrive/Second_Project_By_Choonang/2차프로젝트 공유폴더/프로젝트데이터셋/total_final.csv')
total

,Unnamed: 0,대분류코드,중분류코드,소분류코드,중분류명,소분류명,대분류,영수증번호,고객번호,점포코드,구매일자,구매시간,구매금액,성별,연령대,거주지역,년도,분류,분기,제휴사
0,0,1,101,A010101,일용잡화,위생세제,일상용품,2757986,15148,10,20140920,20,1000,1,5,2.0,2014,저가,3,A
1,1,1,101,A010101,일용잡화,위생세제,일상용품,1878938,15148,10,20140505,19,15000,1,5,2.0,2014,저가,2,A
2,2,1,101,A010101,일용잡화,위생세제,일상용품,3436437,15148,10,20150102,16,9900,1,5,2.0,2015,저가,5,A
3,3,1,101,A010103,일용잡화,뷰티상품,일상용품,1385676,15148,10,20140215,17,7000,1,5,2.0,2014,저가,1,A
4,4,1,101,A010103,일용잡화,뷰티상품,일상용품,1547466,15148,10,20140315,19,21000,1,5,2.0,2014,중가,1,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28593025,28593025,8,802,D080204,아이메이크업,아이섀도우,일상용품,229784,18799,24,20150805,15,9900,1,2,1.0,2015,저가,7,D
28593026,28593026,8,803,D080301,립메이크업,립스틱/립라이너,일상용품,230365,18799,24,20151203,16,11200,1,2,1.0,2015,저가,8,D
28593027,28593027,8,803,D080302,립메이크업,립글로즈/틴트,일상용품,229653,18799,24,20150618,16,7200,1,2,1.0,2015,저가,6,D
28593028,28593028,8,803,D080302,립메이크업,립글로즈/틴트,일상용품,229670,18799,24,20150625,14,9000,1,2,1.0,2015,저가,6,D
28593029,28593029,8,803,D080302,립메이크업,립글로즈/틴트,일상용품,229914,18799,24,20151007,16,9800,1,2,1.0,2015,저가,8,D

In [ ]:
sales_s_by_q = total.pivot_table('구매금액', '고객번호', '분기', aggfunc='sum').fillna(0)
sales_s_by_q

분기,1,2,3,4,5,6,7,8
고객번호,,,,,,,,
1,9141590.0,10783765.0,10781550.0,23334762.0,9302985.0,8595380.0,7806580.0,5295938.0
2,14123470.0,10199760.0,14841180.0,7080920.0,18481480.0,9310130.0,13842600.0,12001220.0
3,302782.0,548433.0,648188.0,394366.0,279310.0,312970.0,421017.0,258101.0
4,1309643.0,3732463.0,2434410.0,1823100.0,1737292.0,1919645.0,2127112.0,1610145.0
5,3145330.0,2314820.0,1827290.0,398440.0,2124430.0,810500.0,0.0,2616260.0
...,...,...,...,...,...,...,...,...
19379,0.0,0.0,130300.0,1060320.0,1131020.0,1264900.0,805550.0,1387190.0
19380,0.0,0.0,0.0,522700.0,486830.0,351120.0,368907.0,2183420.0
19381,0.0,0.0,0.0,0.0,1124750.0,1672421.0,1867501.0,1375997.0
19382,0.0,0.0,0.0,0.0,786399.0,1040340.0,1266187.0,1308847.0
19383,0.0,0.0,0.0,0.0,0.0,27000.0,1092360.0,1265040.0

In [ ]:
aff_c_by_q = total.pivot_table('영수증번호', '고객번호', ['제휴사','분기'], aggfunc='nunique').fillna(0)
aff_c_by_q

제휴사        A                                                     B        ...  \
분기         1      2      3      4      5      6      7      8    1     2  ...
고객번호                                                                      ...
1      120.0  110.0  129.0  145.0  138.0  105.0   66.0   61.0  1.0   0.0  ...
2      183.0  155.0  139.0  125.0  140.0   98.0  121.0  119.0  1.0   0.0  ...
3        0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0  0.0   0.0  ...
4       81.0  120.0   59.0   46.0   99.0   88.0   79.0   77.0  0.0  15.0  ...
5      183.0  193.0  110.0   20.0   91.0   28.0    0.0   86.0  1.0   0.0  ...
...      ...    ...    ...    ...    ...    ...    ...    ...  ...   ...  ...
19379    0.0    0.0    0.0    6.0    8.0    4.0    2.0   13.0  0.0   0.0  ...
19380    0.0    0.0    0.0    0.0    0.0    0.0    0.0    3.0  0.0   0.0  ...
19381    0.0    0.0    0.0    0.0    2.0    0.0    2.0    1.0  0.0   0.0  ...
19382    0.0    0.0    0.0    0.0    1.0    3.0    0.0    0.0  0.0   0.0  ...
19383    0.0    0.0    0.0    0.0    0.0    0.0   11.0    7.0  0.0   0.0  ...

제휴사        C          D
분기         7     8    1    2     3     4     5      6      7      8
고객번호
1        1.0  13.0  0.0  0.0   0.0   0.0   0.0    0.0    0.0    0.0
2        0.0   0.0  0.0  0.0   0.0   0.0   0.0   15.0    5.0    0.0
3      139.0  93.0  0.0  0.0   0.0   0.0   0.0    0.0    0.0    0.0
4       15.0  21.0  0.0  0.0   0.0   0.0   0.0    0.0    0.0    0.0
5        0.0   0.0  0.0  0.0   0.0   0.0   2.0    2.0    0.0    3.0
...      ...   ...  ...  ...   ...   ...   ...    ...    ...    ...
19379    0.0   0.0  0.0  0.0  11.0  70.0  99.0  110.0  109.0  101.0
19380    8.0  34.0  0.0  0.0   0.0  17.0  62.0   39.0   39.0  231.0
19381    3.0   6.0  0.0  0.0   0.0   0.0   0.0    0.0    0.0    0.0
19382    0.0   3.0  0.0  0.0   0.0   0.0   0.0    0.0    0.0    0.0
19383    3.0   0.0  0.0  0.0   0.0   0.0   0.0    5.0   96.0  122.0

[19383 rows x 32 columns]

In [ ]:
type(aff_c_by_q.columns[0])

tuple

In [ ]:
for i in aff_c_by_q.items():
  test_s = i[1]
  print(np.array(i[1].name).reshape(-1,1))
  break

[['A']
 ['1']]

In [ ]:
for i in aff_c_by_q.columns.levels[0]:
  print(i)

A
B
C
D

In [ ]:
cat_c_by_q = total.pivot_table('영수증번호', '고객번호', ['대분류','분기'], aggfunc='count').fillna(0)
cat_c_by_q

대분류     가공식품                                                가구/인테리어       ...  \
분기         1      2      3      4     5     6      7      8       1    2  ...
고객번호                                                                      ...
1       73.0   65.0   78.0  113.0  99.0  87.0   30.0   38.0     0.0  0.0  ...
2      132.0  110.0   91.0   98.0  81.0  57.0   68.0   77.0     0.0  0.0  ...
3       96.0  133.0  154.0  103.0  57.0  91.0   83.0   58.0     0.0  0.0  ...
4       73.0  114.0   50.0   47.0  96.0  95.0   81.0   69.0     0.0  0.0  ...
5      161.0  168.0   99.0   20.0  88.0  29.0    0.0   76.0     0.0  0.0  ...
...      ...    ...    ...    ...   ...   ...    ...    ...     ...  ...  ...
19379    0.0    0.0    5.0   27.0  47.0  49.0   59.0   51.0     0.0  0.0  ...
19380    0.0    0.0    0.0    5.0  45.0  23.0   20.0  161.0     0.0  0.0  ...
19381    0.0    0.0    0.0    0.0  60.0  97.0  102.0   90.0     0.0  0.0  ...
19382    0.0    0.0    0.0    0.0  78.0  93.0  118.0  133.0     0.0  0.0  ...
19383    0.0    0.0    0.0    0.0   0.0   3.0   66.0   57.0     0.0  0.0  ...

대분류   전문스포츠/레저      패션잡화
분기           7    8    1     2     3    4     5     6     7     8
고객번호
1          0.0  0.0  6.0  10.0  11.0  7.0  11.0  15.0  12.0  13.0
2          0.0  0.0  1.0   0.0   3.0  1.0   0.0   3.0   6.0   5.0
3          0.0  0.0  0.0   0.0   0.0  0.0   0.0   0.0   0.0   0.0
4          1.0  0.0  3.0   7.0  10.0  4.0   2.0   4.0   4.0   8.0
5          0.0  0.0  2.0   2.0   0.0  0.0   0.0   0.0   0.0   1.0
...        ...  ...  ...   ...   ...  ...   ...   ...   ...   ...
19379      0.0  2.0  0.0   0.0   0.0  0.0   3.0   1.0   3.0   3.0
19380      0.0  0.0  0.0   0.0   0.0  0.0   0.0   0.0   0.0   0.0
19381      1.0  2.0  0.0   0.0   0.0  0.0   4.0   2.0   3.0   1.0
19382      0.0  3.0  0.0   0.0   0.0  0.0   4.0   0.0   5.0   4.0
19383      0.0  0.0  0.0   0.0   0.0  0.0   0.0   0.0   4.0   3.0

[19383 rows x 96 columns]

## 함수 생성

In [ ]:
def df2grade1(df):
  df_rank = df.rank(ascending=False, method='min').astype('int')

  bins = [0,2000,4000,6000,8000,10000,12000,14000,16000,18000,20000]
  labels = [1,2,3,4,5,6,7,8,9,10] 

  df_grade = df_rank.agg(lambda x : pd.cut(x, bins=bins, include_lowest=True, right=False, labels=labels))

  return df_grade

In [ ]:
def df2grade2(df):
  df_rank = df.rank(ascending=False, method='min').astype('int')

  def rank2grade(x):
    max_x = x.max()
    bins = [0, max_x*0.1, max_x*0.2, max_x*0.3, max_x*0.4, max_x*0.5, max_x*0.6, max_x*0.7, max_x*0.8, max_x*0.9, max_x+1]
    labels = [1,2,3,4,5,6,7,8,9,10]
    return pd.cut(x, bins=bins, include_lowest=True, right=False, labels=labels)  

  df_grade = df_rank.agg(lambda x : rank2grade(x))

  return df_grade

In [ ]:
def df2grade3(df):
  df_rank = df.rank(ascending=False, method='min').astype('int')
  df_grade = pd.DataFrame(index=df_rank.index)

  def rank2grade(df_rank, max_value):
    bins = [0, max_value*0.1, max_value*0.2, max_value*0.3, max_value*0.4, max_value*0.5,
              max_value*0.6, max_value*0.7, max_value*0.8, max_value*0.9, max_value+1]
    labels = [1,2,3,4,5,6,7,8,9,10]
    grade = df_rank.agg(lambda x : pd.cut(x, bins=bins, include_lowest=True, right=False, labels=labels))
    return grade

  if type(df_rank.columns[0]) == tuple:
    for column_name in df_rank.columns.levels[0]:
      max_value = df_rank[column_name].max().max()      
      grade = rank2grade(df_rank[column_name], max_value)
      df_grade = pd.concat([df_grade, grade], axis=1)
    df_grade.columns = df_rank.columns
  else:
    max_value = df_rank.max().max()
    df_grade = rank2grade(df_rank, max_value)
  
  return df_grade

In [ ]:
def grade2cv(df_grade, target_quarter, keyword=''):
  df_cv = pd.DataFrame(index=df_grade.index)   

  if type(df_grade.columns[0]) == tuple:
    for column_name in df_grade.columns.levels[0]:
      cv = pd.DataFrame(data=(abs(df_grade[column_name].iloc[:,:target_quarter].astype('int').diff(axis=1)).sum(axis=1))*0.2 - \
                (df_grade[column_name].agg(lambda x : x[target_quarter] - x[1],axis=1))*0.8, columns=[column_name+'_'+keyword+'지수'])
      df_cv = pd.concat([df_cv, cv], axis=1)
  else:
    df_cv = pd.DataFrame(data=(abs(df_grade.iloc[:,:target_quarter].astype('int').diff(axis=1)).sum(axis=1))*0.2 + \
                (df_grade.agg(lambda x : x[target_quarter] - x[1],axis=1))*0.8, columns=['변동지수'])

  return df_cv.reset_index()

In [ ]:
df2grade3(aff_c_by_q)

제휴사     A                               B      ...   C       D              \
분기      1   2   3   4   5   6   7   8   1   2  ...   7   8   1   2   3   4
고객번호                                           ...
1       1   1   1   1   1   2   3   4   8  10  ...   6   4  10  10  10  10
2       1   1   1   1   1   2   1   1   8  10  ...  10  10  10  10  10  10
3      10   8  10  10  10  10  10  10  10  10  ...   2   3  10  10  10  10
4       2   1   4   4   1   2   2   3  10   6  ...   4   3  10  10  10  10
5       1   1   1   5   2   5  10   2   8  10  ...  10  10  10  10  10  10
...    ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ..  ..  ..  ..  ..  ..
19379  10  10  10   6   6   7   7   5  10  10  ...  10  10  10  10   1   1
19380  10  10  10  10  10  10  10   7  10  10  ...   4   3  10  10  10   1
19381  10  10  10  10   7  10   7   8  10  10  ...   5   5  10  10  10  10
19382  10  10  10  10   8   7  10  10  10  10  ...  10   5  10  10  10  10
19383  10  10  10  10  10  10   5   6  10  10  ...   5  10  10  10  10  10

제휴사
분기      5   6   7   8
고객번호
1      10  10  10  10
2      10   1   1  10
3      10  10  10  10
4      10  10  10  10
5       1   1  10   1
...    ..  ..  ..  ..
19379   1   1   1   1
19380   1   1   1   1
19381  10  10  10  10
19382  10  10  10  10
19383  10   1   1   1

[19383 rows x 32 columns]

In [ ]:
grade2cv(df2grade2(sales_s_by_q), 6)

        고객번호  변동지수
0          1   1.2
1          2   1.6
2          3   0.0
3          4   1.2
4          5   9.0
...      ...   ...
19378  19379  -0.2
19379  19380   1.0
19380  19381  -1.4
19381  19382  -0.4
19382  19383   0.4

[19383 rows x 2 columns]

In [ ]:
grade2cv(df2grade2(aff_c_by_q), 6, '방문')

        고객번호  A_방문지수  B_방문지수  C_방문지수  D_방문지수
0          1     1.0     2.0    -4.2     0.0
1          2     1.0     0.2     0.0    -5.4
2          3     0.8     0.8     0.4     0.0
3          4     1.6    -2.0     0.2     0.0
4          5     5.2     2.0     0.0    -5.4
...      ...     ...     ...     ...     ...
19378  19379    -1.4    -2.4    -3.6    -5.4
19379  19380     0.0    -1.2     0.0    -5.4
19380  19381     1.2    -4.8     0.0     0.0
19381  19382    -1.8    -4.8     0.0     0.0
19382  19383     0.0     0.0     0.0    -5.4

[19383 rows x 5 columns]

In [ ]:
grade2cv(df2grade2(cat_c_by_q), 6, '방문')

,고객번호,가공식품_방문지수,가구/인테리어_방문지수,교육/문화용품_방문지수,기타_방문지수,디지털/가전_방문지수,신선식품_방문지수,음식점_방문지수,의류_방문지수,의약품/의료기기_방문지수,일상용품_방문지수,전문스포츠/레저_방문지수,패션잡화_방문지수
0,1,1.2,0.0,2.0,4.0,1.0,-1.4,3.6,0.8,0.0,7.2,0.0,-0.8
1,2,5.4,0.0,6.6,2.4,4.8,0.0,0.0,4.2,0.0,0.6,3.2,2.6
2,3,2.4,0.0,0.0,0.0,1.2,2.8,9.2,1.6,0.0,1.2,0.0,0.0
3,4,1.4,0.0,0.8,5.6,1.0,0.2,0.0,-2.6,0.0,1.2,3.2,1.6
4,5,10.0,0.0,1.6,0.0,1.2,2.0,0.0,1.6,0.0,4.0,0.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19378,19379,-1.2,0.0,0.0,0.0,0.0,-1.2,0.0,-3.6,0.0,-5.4,3.2,0.0
19379,19380,0.4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.2,0.0,0.0
19380,19381,-3.0,0.0,1.2,0.0,-4.2,-4.8,-4.2,-1.8,0.0,-1.2,3.6,-0.6
19381,19382,-3.0,0.0,-4.2,-2.4,-4.8,-4.8,-4.8,2.4,0.0,-2.4,0.0,2.4
19382,19383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0